
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #1e1e1e;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
	color: #CCC;
  text-decoration: none !important;
}
a:hover {
	color: #F99;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-weight: 700;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 15px;
  line-height: 30px;
  color: #fff;
}

img {
  width: 100%;
  overflow: hidden;
}

/* 
---------------------------------------------
Global Styles
--------------------------------------------- 
*/
html,
body {
  background: #1f2122;
  font-family: 'Poppins', sans-serif;
}

body .page-content {
  margin-top: 110px;
  background-color: #27292a;
  padding: 25px;
  border-radius: 23px;
}

p {
  font-size: 15px;
  color: #666;
  line-height: 30px;
  margin-bottom: 0px;
}

::selection {
  background: #049d68;
  color: #fff;
}

::-moz-selection {
  background: #049d68;
  color: #fff;
}

.templatemo-item {
	max-width: 80px; 
	border-radius: 23px;
}

.main-button a {
  font-size: 14px;
  color: #fff;
  background-color: #049d68;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.main-button a:hover {
  background-color: #fff;
  color: #049d68;
}

.main-border-button a {
  font-size: 14px;
  color: #049d68;
  background-color: transparent;
  border: 1px solid #049d68;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.main-border-button a:hover {
  border-color: #fff;
  background-color: #fff;
  color: #119a6a;
}

.border-no-active a {
  border-color: #666;
  color: #666;
}

.border-no-active a:hover{
  border-color: #666;
  color: #666;
  background-color: transparent;
}

section {
  margin-top: 120px;
}

.heading-section h4 {
  color: #119a6a;
  font-size: 34px;
  text-decoration: none;
  margin-bottom: 30px;
}

.heading-section h4 em {
  color: #fff;
  font-style: normal;
  text-decoration: underline;
}

.heading-section h5 {
  color: #119a6a;
  font-size: 24px;
  text-decoration: none;
  margin-bottom: 30px;
}

.heading-section h5 em {
  color: #fff;
  font-style: normal;
  text-decoration: underline;
}

/* 
PRELOADER CSS */

.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.99);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.9s ease;
  transition: opacity 0.9s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes dot {
  50% {
      -webkit-transform: translateX(96px);
      transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
      -webkit-transform: translateX(96px);
      transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
      -webkit-transform: translateX(-31px);
      transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
      -webkit-transform: translateX(-31px);
      transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: transparent;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #049d68;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #049d68;
  border-radius: 50%;
}


/* 
HEADER AREA CSS */

.background-header {
  background-color: #fff !important;
  height: 70px!important;
  position: fixed!important;
  top: 0!important;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  display: none;
}

.header-area {
  background-color: transparent;
  position: absolute;
  height: 70px;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.header-area .main-nav {
  min-height: 80px;
  background: transparent;
  display: flex;
  padding: 15px 0px;
  border-radius: 50px;
}

.background-header .main-nav {
  padding: 0px;
  background-color: transparent;
}

.header-area .main-nav #search {
  position: relative;
}

.header-area .main-nav #search input {
  background-color: #27292a;
  height: 46px;
  border-radius: 23px;
  border: none;
  color: #666;
  font-size: 14px;
  padding: 0px 15px 0px 45px;
}

.header-area .main-nav #search i {
  position: absolute;
  color: #666;
  left: 20px;
  top: 16px;
  width: 18px;
  height: 18px;
  font-size: 16px;
}

.header-area .main-nav .logo {
  border-right: 1px solid #27292a;
  flex-basis: 25%;
  margin-right: 5%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .logo img {
  width: 191px;
}

.background-header .main-nav .logo {
  margin-top: 8px;
}

.background-header .main-nav .logo img {
  width: 180px;
}

.header-area .main-nav .nav {
  display: inline-flex;
  flex-basis: 70%;
  justify-content: flex-end;
  vertical-align: middle;
  text-align: right;
  margin-top: 0px;
  margin-right: 0px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  color: #666;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: transparent;
  padding: 13px 10px;
  border-radius: 18px;
  letter-spacing: .3px;
}

.header-area .main-nav .nav li:last-child a {
  background-color: #27292a;
  padding: 8px 10px 8px 20px;
  border-radius: 23px;
}

.header-area .main-nav .nav li:last-child a img {
  max-width: 30px;
  border-radius: 50%;
  margin-left: 5px;
}

.header-area .main-nav .nav li.has-sub ul.sub-menu li:last-child a:hover,
.background-header .main-nav .nav li.has-sub ul.sub-menu li:last-child a:hover {
  padding-left: 25px !important;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
  color: #049d68 !important;
}

.header-area .main-nav .nav li:last-child:hover a,
.header-area .main-nav .nav li:last-child a.active {
  color: #fff !important;
  background-color: #049d68 !important;
}

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
  color: #fff;
  opacity: 1;
}

.header-area .main-nav .nav li.has-sub {
  position: relative;
  padding-right: 15px;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 20px;
  display: none;
}

.background-header .main-nav .menu-trigger {
  top: 17px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #049d68;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #049d68;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #049d68;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #049d68;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #049d68;
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: #049d68;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #049d68;
}

.background-header .main-nav .menu-trigger.active span:after {
  background-color: #049d68;
}

.header-area.header-sticky {
  min-height: 70px;
}

.header-area.header-sticky .nav li a.active {
  color: #fff;
}



@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 992px) {
  .header-area {
    top: 0; 
  }
  .header-area .main-nav {
    background-color: transparent;
    border-radius: 0px;
  }
  .header-area .main-nav .nav {
    height: auto;
    flex-basis: 100%;
  }
  .header-area .main-nav .logo {
    position: absolute;
    left: 30px;
    top: 15px;
  }
  .background-header .main-nav .logo {
    top: 0px;
  }
  .background-header .main-nav .border-button {
    top: 0px !important;
  }
  .header-area .main-nav .border-button {
    position: absolute;
    top: 15px;
    right: 70px;
  }
  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: #049d68!important;
    opacity: 1;
  }
  .header-area.header-sticky .nav li.search-icon a {
    width: 100%;
  }
  .header-area {
    background-color: #f7f7f7;
    padding: 0px 15px;
    height: 80px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-left: 0px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area.header-sticky .nav {
    margin-top: 65px !important;
    text-align: center;
  }
  .background-header.header-sticky .nav {
    margin-top: 70px !important;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #fff !important;
    color: #1e1e1e !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #fff !important;
    color: #049d68!important;
  }
  .header-area .main-nav .nav li:last-child a img {
    display: none;
  }
  .header-area .main-nav .nav li:last-child a:hover {
    color: #049d68 !important;
    background-color: transparent !important;
  }
  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
    transition: all 0s;
  }
  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }
  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }
  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    height: auto;
  }
  .header-area .main-nav .nav li.has-sub:after {
    color: #3B566E;
    right: 30px;
    font-size: 14px;
    top: 15px;
  }
  .header-area .main-nav .nav li.submenu:hover ul, .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}

/* 
MAIN BANNER CSS */

.main-banner {
  background-image: url(../images/banner-bg.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 380px;
  border-radius: 23px;
  padding: 80px 60px;
}

.main-banner h6 {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 25px;
}

.main-banner h4 {
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.main-banner h4 em {
  font-style: normal;
  color: #049d68;
}
.main-banner h5 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.main-banner h5 em {
  font-style: normal;
  color: #049d68;
}

/* 
NOTES NOTIF CSS */

.notes-notif{
  border-radius: 21px;
  padding: 10px 30px 30px 30px;
  background-color: #1f2122;
  margin-top: 20px;
  padding-bottom: 35px;

}

.notes-notif .item {
  background-color: #27292a;
  padding: 30px 15px;
  border-radius: 23px;
  margin-bottom: 30px;
}

.notes-notif .item .item {
  padding: 0px;
  border-radius: 0px;
  background-color: transparent;
  margin-bottom: 0px;
}

.notes-notif .item img {
  border-radius: 23px;
}

.notes-notif h4 {
  font-size: 23px;
  margin-top: 20px;
  margin-bottom: 0px;
  display: inline-block;
}

.notes-notif h5 {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0px;
  display: inline-block;
}

.notes-notif h5 em {
  font-style: normal;
  color: #049d68;
}

.notes-notif .item span {
  color: #666;
  display: block;
  margin-top: 7px;
  font-weight: 400;
}

.notes-notif .item ul {
  float: right;
  margin-top: 20px;
}

.notes-notif .item ul li {
  text-align: right;
  color: #fff;
  font-size: 14px;
}

.notes-notif .item ul li:first-child i {
  color: yellow;
}

.notes-notif .item ul li:last-child i {
  color: #049d68;
}

.notes-notif .main-button {
  text-align: center;
  margin-bottom: -53px;
}

/* CSS BUAT NOTIF */

.pinkBg {
  background-color: #ffffff!important;
  background-image: linear-gradient(90deg, #049d68, #049d68);
}
.intro-banner-vdo-play-btn{
  height:28px;
  width:28px;
  position: relative;
  top:50%;
  left:50%;
  text-align:center;
  margin:-50px 0 0 -10px;
  border-radius:100px;
  z-index:1
}
.intro-banner-vdo-play-btn i{
  line-height:56px;
  font-size:30px
}
.intro-banner-vdo-play-btn .ripple{
  position:absolute;
  width:160px;
  height:160px;
  z-index:-1;
  left:50%;
  top:50%;
  opacity:0;
  margin:-80px 0 0 -80px;
  border-radius:100px;
  -webkit-animation:ripple 1.5s infinite;
  animation:ripple 1.5s infinite
}

@-webkit-keyframes ripple{
  0%{
      opacity:1;
      -webkit-transform:scale(0);
      transform:scale(0)
  }
  100%{
      opacity:0;
      -webkit-transform:scale(0.5);
      transform:scale(0.5)
  }
}
@keyframes ripple{
  0%{
      opacity:1;
      -webkit-transform:scale(0);
      transform:scale(0)
  }
  100%{
      opacity:0;
      -webkit-transform:scale(0.5);
      transform:scale(0.5)
  }
}
.intro-banner-vdo-play-btn .ripple:nth-child(2){
  animation-delay:.3s;
  -webkit-animation-delay:.3s
}
.intro-banner-vdo-play-btn .ripple:nth-child(3){
  animation-delay:.6s;
  -webkit-animation-delay:.6s
}

/* END CSS BUAT NOTIF */

/* 
CSS BUAT JAM */

@font-face{
  font-family: 'Digital-7';
  src:  url('fonts/digital-7.ttf') format('woff2'),
  url('digital-7.woff') format('woff');
}
.clockdate-wrapper {
  background: transparent;
  padding:0px;
  max-width:350px;
  width:100%;
  text-align:left;
  border-radius:5px;
  margin-left: 0px;
  
}
#clock{
  font-family: Digital-7, 'sans-serif';
  font-size:55px;
  text-shadow:0px 0px 1px #fff;
  color:#fff;
  display: flex;
  justify-content: center;

}
#clock span {
  color: rgba(255, 255, 255, 0.8);
  text-shadow:0px 0px 1px #333;
  font-size:20px;
  position:relative;
  top:-5px;
  left: -10;
  display: flex;
  justify-content: center;
}
#date {
  letter-spacing:3px;
  font-size:25px;
  font-family:arial,sans-serif;
  color:#049d68;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

/* 
AHIR CSS BUAT JAM */

/* 
FOOTER CSS */

footer p {
  text-align: center;
  padding: 50px 0px;
  color: #fff;
  font-weight: 300;
  padding-bottom: 100px;
}

footer p a {
  color: #fff;
  transition: all .3s;
}

footer p a:hover {
  color: #049d68;
}

/* 
PERSON ON DUTY CSS */

.person-on-duty {
  border-radius: 23px;
  background-color: #1f2122;
  padding: 30px;
}

.person-on-duty .item .thumb {
  position: relative;
  overflow: hidden;
}

.person-on-duty .item .thumb .hover-effect {
  position: absolute;
  bottom: -100px;
  text-align: center;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
}

.person-on-duty .item .thumb:hover .hover-effect {
  opacity: 1;
  visibility: visible;
  bottom: 15px;
}

.person-on-duty .item .thumb .hover-effect h6 {
  background-color: rgba(31,33,34,0.95);
  display: inline-block;
  color: #049d68;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 25px;
}

.person-on-duty .item img {
  border-radius: 23px;
}

.person-on-duty .item h4 {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0px;
  display: inline-block;
}

.person-on-duty .item span {
  color: #666;
  display: block;
  margin-top: 7px;
  font-weight: 400;
}

.person-on-duty .item ul {
  float: right;
  margin-top: 20px;
}

.person-on-duty .item .btn {
  padding: 1px;
  font-size: 10px;
  color: black;
}


.person-on-duty .item ul li {
  text-align: right;
  color: #fff;
  font-size: 14px;
}

.person-on-duty .item ul li:first-child i {
  color: yellow;
}

.person-on-duty .item ul li:last-child i {
  color: #049d68;
}

.person-on-duty .owl-nav {
  position: absolute;
  margin: 0 auto;
  top: -70px;
  right: 0;
}

.person-on-duty .owl-nav .owl-prev {
  margin-right: 2.5px;
}

.person-on-duty .owl-nav .owl-next {
  margin-left: 2.5px;
}

.person-on-duty .owl-nav .owl-prev span,
.person-on-duty .owl-nav .owl-next span  {
  font-size: 36px;
  display: inline-block;
  color: #666;
  opacity: 1;
  transition: all .3s;
}

.person-on-duty .owl-nav .owl-prev span:hover,
.person-on-duty .owl-nav .owl-next span:hover {
  opacity: 1;
  color: #049d68;
}

/* 
DAILY ACTIVITY CSS */

.daily-activity {
  border-radius: 23px;
  padding: 30px 30px 0px 30px;
  background-color: #1f2122;
}

.daily-activity .item {
  position: relative;
  border-bottom: 1px solid #27292a;
  padding-bottom: 28px;
  margin-bottom: 12px;
}

.daily-activity .item img {
  float: left;
  margin-right: 15px;
}

.daily-activity .item h4 {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 5px;
  padding-top: 15px;
}
.daily-activity .item .btn {
  padding: 1px;
  margin-left: 3px;
  font-size: 10px;
  color: black;
}


.daily-activity .item span {
  color: #666;
  font-size: 14px;
  display: block;
}

.daily-activity ul {
  position: absolute;
  right: 0;
  top: 15px;
}

.daily-activity ul li {
  color: #fff;
  font-size: 14px;
  margin-bottom: 3px;
}

.daily-activity ul li:first-child i {
  color: yellow;
}

.daily-activity ul li:last-child i {
  color: #049d68;
}


/* 
GENRRAL INFO CSS */

.general-info {
  border-radius: 21px;
  padding: 30px 0px 30px 30px;
  padding-bottom: 10px;
  background-color: #1f2122;

}

.general-info .item {
  position: relative;
  border-bottom: 1px solid #27292a;
  padding-bottom: 30px;
  margin-bottom: 15px;
}

.general-info .item img {
  float: left;
  margin-top: -25px;
  margin-right: 15px;
  width: 70px;
}

.general-info .item h4 {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 5px;
  padding-top: 15px;
}

.general-info .item h5 {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 5px;
  padding-top: 15px;
}

.general-info .sh-desc h5 {
  display: inline-block;
  font-size: 10px;
  padding-bottom: 1px;
  padding-top: 10px;
  text-align: right;
}

.general-info p {
  display: inline-block;
  font-size: 9px;
  margin-bottom: 5px;
  text-align: right;
  text-align: center;
}


.general-info .item span {
  color: #666;
  font-size: 14px;
  display: block;
}

.general-info ul {
  position: absolute;
  right: 0;
  top: 15px;
}

.general-info ul li {
  color: #fff;
  font-size: 14px;
  margin-bottom: 3px;
}

.general-info ul li:first-child i {
  color: yellow;
}

.general-info ul li:last-child i {
  color: #049d68;
}

/* 
REPSONSIVE SETTING */

body {
  overflow-x: hidden;
}

@media (max-width: 767px) {
  body .page-content {
    padding: 0px 30px;
  }
  .main-banner {
    text-align: center;
  }
  .main-banner h4 {
    font-size: 10px;
  }

}

@media (max-width: 992px) {
  .background-header {
  display: inline-block;
  }
  .header-area .main-nav #search {
    display: none;
  }
  .heading-section h4 {
    font-size: 20px;
  }
  .notes-notif .item ul li:last-child {
    text-align: left;
  }
  .notes-notif{
    width: 100% !important;
  }
  .person-on-duty {
    margin-bottom: 60px;
    margin-top: 30px;
  }
  .general-info{
    width: 100%;
  }
  
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-right: 5px;
    padding-left: 5px;
  }
  .header-area .main-nav .logo {
    margin-right: 30px;
    border-right: none;
  }
  .notes-notif .item ul li {
    width: 100%;
  }

  .general-info  { 
    display: flex;
    justify-content: center;

  }
  .general-info .sh-desc h5{
    font-size: 10px;
  }

  .general-info .item img{
    width: 50px;
    display: flex;
    justify-content: center;
  }
}

